body {
  max-height: 100vh;
}

button {
  border: 1px solid #000;
}

.gameBoard {
  flex-wrap: wrap;
  width: 400px;
}

.board {
  display: flex;
  justify-content: center;
}

.cell {
  height: 130px;
  width: 130px;
  font-size: 24px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
}

.tic {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.twoPlayersButton,
.aiBotButton {
  width: 100px;
  height: 48px;
  border: none;
  letter-spacing: 2px;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
  background-color: grey;
  cursor: pointer;
}

.choiceButtons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#newGameForm input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

p {
  font-size: 18px;
}

#newGameForm {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

#newGameForm button[type="submit"] {
  width: 96px;
  height: 30px;
  border: none;
  letter-spacing: 2px;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightgreen;
  cursor: pointer;
}

#newGameForm button[type="submit"]:hover {
  background-color: green;
}

.restartButton {
  width: 136px;
  height: 30px;
  border: none;
  letter-spacing: 2px;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightgreen;
  cursor: pointer;
  margin-top: 40px;
}

span {
  margin-top: 40px;
  float: right;
  font-size: 16px;
}
