button {
  border: 1px solid #000;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 20px auto;
  justify-content: center;
}

.cell {
  height: 130px;
  width: 130px;
  font-size: 24px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
