body {
  max-height: 100vh;
  font-family: "Righteous";
  background-color: #777da7;
  color: #fef9ff;
}

* {
  box-sizing: border-box;
}

:root {
  --green: #8fd694;
}

.tic {
  font-family: "Righteous", cursive;
}
.gameBoard {
  flex-wrap: wrap;
  width: 400px;
}

.board {
  display: flex;
  justify-content: center;
}

.cell {
  height: 130px;
  width: 130px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--green);
  border: 2px solid var(--green);
  border-left: none;
  border-top: none;
  background-color: #777da7;
  font-family: "Righteous", cursive;
  font-size: 56px;
  font-weight: 600;
  transition: 200ms transform;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(6) ~ .cell {
  border-bottom: none;
}

.game-info {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  text-transform: uppercase;
}

.tic {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.twoPlayersButton,
.aiBotButton {
  width: 100px;
  height: 48px;
  border: none;
  letter-spacing: 2px;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #d4c1ec;
  cursor: pointer;
  font-family: "Righteous";
}

.choiceButtons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#newGameForm input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Righteous";
  cursor: pointer;
}

p {
  font-size: 18px;
}

#playerXName,
#playerOName {
  font-size: 24px;
}

#newGameForm {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

#newGameForm button[type="submit"] {
  width: 96px;
  height: 36px;
  border: none;
  letter-spacing: 2px;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightgreen;
  cursor: pointer;
  font-family: "Righteous";
}

#newGameForm button[type="submit"]:hover {
  background-color: green;
}

.restartButton {
  width: 136px;
  height: 36px;
  border: none;
  letter-spacing: 2px;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightgreen;
  cursor: pointer;
  margin-top: 40px;
  font-family: "Righteous";
}

.result {
  margin-top: 46px;
  float: right;
  font-size: 16px;
}

.restart-result {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scoreboard {
  justify-content: space-around;
}

.right-score,
.left-score {
  font-size: 48px;
  font-family: "Righteous", cursive;
}
